{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'participants/participants.css' %}">
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/svg+xml" href="{% static 'images/logo.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script id="script" src="{% static 'events/autocomplete_script.js' %}" data-json-url="{% static 'events/data.json' %}"></script>
    <script src="{% static 'events/date_fromatter.js' %}"></script>
    <script src="{% static 'events/phone_formatter.js' %}"></script>
    <script src="{% static 'events/additional_phone_number_formatter.js' %}"></script>
    <script src="{% static 'events/check_paricip_in_event.js' %}"></script>
    <script src="{% static 'events/update_color.js' %}"></script>
    <title>Добавление участника</title>
</head>
<body>
    <h1 class="add-header">
        <div class="text-header">{{ event.title }}</div>
        <a href="/">
        <ion-icon class="home-button" name="home-outline" ></ion-icon></a>
    </h1>

    <div class="main">
        <form  method="post" class="post-form">
            {% csrf_token %} <br>
            {{ form.last_name }}<br>
            {{ form.first_name }}<br>
            {{ form.patronymic }}<br>
            {{ form.date_of_birth }}<br>
            {{ form.district }}<br>
            {{ form.street }}<br>
            {{ form.house_number }}<br>
            {{ form.building }}<br>
            {{ form.apartment_number }}<br>
            {{ form.phone_number }}<br>
            {{ form.additional_phone_number }}<br>
            <div class="error"> {{ error }}</div>
        <button class="add-button" type="submit">Добавить участника</button>
        </form>
    </div>
    <div class="part-table">
        <table class="iksweb">
            <tbody>
                <tr>
                    <td>№</td>
                    <td>Фамилия</td>
                    <td>Имя</td>
                    <td>Отчество</td>
                    <td>Дата рождения</td>
                    <td>Район</td>
                    <td>Улица</td>
                    <td>Дом</td>
                    <td>К/С</td>
                    <td>Кв.</td>
                    <td>Номер телефона</td>
                    <td>Доп. тел.</td>
                    <td class="delete-case"></td>
                    <td class="change-color"></td>
                </tr>
            {% for participant in participants_list %}
                <tr id="changeable-div" >
                    <td style="background-color: {{ participant.color }};">{{ forloop.counter }}</td>
                    <td style="background-color: {{ participant.color }};">{{ participant.last_name }}</td>
                    <td style="background-color: {{ participant.color }};">{{ participant.first_name }}</td>
                    <td style="background-color: {{ participant.color }};">{{ participant.patronymic }}</td>
                    <td style="background-color: {{ participant.color }};">{{ participant.date_of_birth }}</td>
                    <td style="background-color: {{ participant.color }};">{{ participant.district }}</td>
                    <td style="background-color: {{ participant.color }};">{{ participant.street }}</td>
                    <td style="background-color: {{ participant.color }};">{{ participant.house_number }}</td>
                    <td style="background-color: {{ participant.color }};">{{ participant.building }}</td>
                    <td style="background-color: {{ participant.color }};">{{ participant.apartment_number }}</td>
                    <td style="background-color: {{ participant.color }};">{{ participant.phone_number }}</td>
                    <td style="background-color: {{ participant.color }};">{{ participant.additional_phone_number }}</td>
                    <td class="delete-case"><a href="{% url 'delete_participant' event_id=event.id participant_id=participant.id %}" class="delete"><ion-icon name="close"></ion-icon></a></td>
                    <td class="change-color">
                        <select class="selector" name="color" id="colorSelect" onchange = 'updateColor(this, url="{% url 'update_color' event_id=event.id participant_id=participant.id  %}")'
                                style="appearance: none;
                                width: 20px;
                                height: 20px;">
                            <option style="background-color: rgb(22,38,42);display: none;" value="rgb(255,255,255)"></option>
                            <option style="background-color: rgb(255,255,255);" value="rgb(255,255,255)"></option>
                            <option style="background-color: rgba(255, 255, 0, 0.35);" value="rgba(255, 255, 0, 0.35)"></option>
                            <option style="background-color: rgba(0, 128, 0, 0.35);"  value="rgba(0, 128, 0, 0.35)"></option>
                            <option style="background-color: rgba(255, 0, 0, 0.35);"  value="rgba(255, 0, 0, 0.35)"></option>
                        </select>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>